.box-body .resize {
    max-height: 500px;
    overflow-y: auto;
}
.box-body .resize td .console{
    max-height: initial;
}
.console {
    background-color: initial;
    color: initial;
    display: block;
    height: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
td .console {
    height: initial;
    max-height: 500px;
    max-width: 120ex;
}
@media (max-width: 1200px) {
    td .console {
        max-width: 60ex;
    }
}
.control-sidebar-heading {
    margin: 0 auto;
    padding-left: 10px;
}
.filter-field {
    margin: 0 auto;
    width: 80%;
}
.output-image {
    text-align: center;
}
.output-image img {
    max-width:100%;
    max-height:100%;
}
.table-container {
    overflow-x: auto;
}
.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}
.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}

/*Fixed layout*/
.control-sidebar {
    position: fixed;
    max-height: 100%;
    overflow: auto;
}
.main-header,
.main-sidebar,
.left-side {
    position: fixed;
}
.main-header {
    top: 0;
    right: 0;
    left: 0;
}
.content-wrapper,
.right-side {
    padding-top: 50px;
}
@media (max-width: 767px) {
    .content-wrapper,
    .right-side {
        padding-top: 100px;
    }
}
