{% extends "base.html" %}
{% block body %}
                        <div class="source">
                            <div class="section">
                                <h2 align="center">
                                    Campaigns
                                </h2>
                                <div align="center">
                                    {% load django_tables2 %}
                                    {% render_table table %}
                                </div>
                                <br>
                                <div id="campaign_chart">
                                </div>
                            </div>
                        </div>
{% endblock %}
