{% extends "base.html" %}

{% block body %}
    <section class="content-header">
        <h1>Charts ({% if categories %}Grouped by Category{% else %}Grouped by Outcome{% endif %})</h1>
        <ol class="breadcrumb">
            <li><a href="/">Campaigns</a></li>
            {% if campaign %}
                <li><a href="info">Campaign {{ campaign.id }}</a></li>
            {% endif %}
            <li class="active"><a href="">Charts</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            {% for chart in chart_list %}
                <div class="col-lg-6 col-md-6 connectedSortable">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ chart.title }}</h3>
                            <div class="box-tools pull-right">
                                {% if chart.smooth or chart.percent or chart.log %}
                                    <div class="btn-group" id="raw-data" data-toggle="btn-toggle">
                                        <button type="button" class="btn btn-default btn-xs active" data-toggle="raw">Raw</button>
                                        {% if chart.smooth %}
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="smooth">Smoothed</button>
                                        {% endif %}
                                        {% if chart.percent %}
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="percent">Percent</button>
                                        {% endif %}
                                        {% if chart.log %}
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="log">Log</button>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool expand"><i class="fa fa-expand"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="{{ chart.id }}" class="chart-container{% if chart.smooth or chart.percent or chart.log %} raw-chart{% endif %}"></div>
                            {% if chart.smooth %}
                                <div id="{{ chart.id }}_smooth" class="chart-container smooth-chart hidden"></div>
                            {% endif %}
                            {% if chart.percent %}
                                <div id="{{ chart.id }}_percent" class="chart-container percent-chart hidden"></div>
                            {% endif %}
                            {% if chart.log %}
                                <div id="{{ chart.id }}_log" class="chart-container log-chart hidden"></div>
                            {% endif %}
                        </div>
                        <div class="overlay chart-loading-icon">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block sidebar_block %}
    <li class="header">OPTIONS</li>
    {% if categories %}
        <li>
            <a href="javascript:{}" onclick="group_charts(false)">
                <i class="fa fa-cog"></i>
                <span>Group by Outcome</span>
            </a>
        </li>
    {% else %}
        <li>
            <a href="javascript:{}" onclick="group_charts(true)">
                <i class="fa fa-cog"></i>
                <span>Group by Category</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        {% if campaign %}
            $('#charts-campaign-link').addClass('active')
        {% else %}
            $('#charts-navigation-link').addClass('active')
        {% endif %}

        $("#raw-data .btn").click(function () {
            if ($(this).data("toggle") === "raw") {
                $(this).parents('.box').children('.box-body').children('.raw-chart').removeClass('hidden')
                $(this).parents('.box').children('.box-body').children('.smooth-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.percent-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.log-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.raw-chart').highcharts().reflow();
            }
            else if ($(this).data("toggle") === "smooth") {
               $(this).parents('.box').children('.box-body').children('.smooth-chart').removeClass('hidden')
                $(this).parents('.box').children('.box-body').children('.raw-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.percent-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.log-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.smooth-chart').highcharts().reflow();
            }
            else if ($(this).data("toggle") === "percent") {
               $(this).parents('.box').children('.box-body').children('.percent-chart').removeClass('hidden')
                $(this).parents('.box').children('.box-body').children('.raw-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.smooth-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.log-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.percent-chart').highcharts().reflow();
            }
            else if ($(this).data("toggle") === "log") {
               $(this).parents('.box').children('.box-body').children('.log-chart').removeClass('hidden')
                $(this).parents('.box').children('.box-body').children('.raw-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.smooth-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.percent-chart').addClass('hidden')
                $(this).parents('.box').children('.box-body').children('.log-chart').highcharts().reflow();
            }
        });

        $('.expand').on('click', function () {
            $(this).parents('.box').children('.box-body').children('.chart-container').highcharts().reflow();
            return false;
        });

        function group_charts(group_categories) {
            if (group_categories) {
                window.location.assign(window.location.href.replace('/outcome_charts', '/category_charts'));
            } else {
                window.location.assign(window.location.href.replace('/category_charts', '/outcome_charts'));
            }
        }

        $(".connectedSortable").sortable({
            placeholder: "sort-highlight",
            connectWith: ".connectedSortable",
            handle: ".box-header, .nav-tabs",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
        $(".connectedSortable .box-header, .connectedSortable .nav-tabs-custom").css("cursor", "move");
    </script>
{% endblock %}
