{% extends "base.html" %}

{% block body %}
                        <div class="source" align="center">
                            <a name="overview_chart">
                            </a>
                            <div class="section">
                                <br>
                                <div id="overview_chart">
                                </div>
                                <br>
                                <a name="targets_charts">
                                </a>
                                <div id="targets_chart">
                                </div>
                                <br>
                                <div id="targets_percent_chart">
                                </div>
                                <br>
                                <div id="targets_log_chart">
                                </div>
                                <br>
                                {% if campaign_data.use_simics %}
                                <div id="propagation_chart">
                                </div>
                                <br>
                                {% endif %}
                                <a name="diff_targets_chart">
                                </a>
                                <div id="diff_targets_chart">
                                </div>
                                <br>
                                <a name="registers_chart">
                                </a>
                                <div id="registers_chart">
                                </div>
                                <br>
                                <a name="bits_chart">
                                </a>
                                <div id="bits_chart">
                                </div>
                                <br>
                                {% if campaign_data.use_simics %}
                                <a name="tlbs_chart">
                                </a>
                                <div id="tlbs_chart">
                                </div>
                                <br>
                                <a name="tlb_fields_chart">
                                </a>
                                <div id="tlb_fields_chart">
                                </div>
                                <br>
                                {% endif %}
                                <a name="times_charts">
                                </a>
                                <div id="times_chart">
                                </div>
                                <br>
                                <div id="times_smoothed_chart">
                                </div>
                                <br>
                                <a name="diff_times">
                                </a>
                                <div id="diff_times_chart">
                                </div>
                                <br>
                                <a name="counts_charts">
                                </a>
                                <div id="counts_chart">
                                </div>
                                <br>
                                <div id="counts_percent_chart">
                                </div>
                            </div>
                        </div>
{% endblock %}
