{% extends "base.html" %}

{% block body %}
                        <h2 align="center">
                            Results Editor
                        </h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <th>
                                        Result Field
                                    </th>
                                    <th>
                                        Existing Value
                                    </th>
                                    <th>
                                        New Value
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Outcome Category
                                    </td>
                                    <td>
                                        {{ form.outcome_category }}
                                    </td>
                                    <td>
                                        {{ form.new_outcome_category }}
                                    </td>
                                    <td>
                                        <input type="submit" name="edit_outcome_category" value="Save" onclick="return confirm('Are you sure you want to edit all results with the selected outcome category?')" />
                                    </td>
                                    <td>
                                        <input type="submit" name="delete_outcome_category" value="Delete" onclick="return confirm('Are you sure you want to delete all results with the selected outcome category?')" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Outcome
                                    </td>
                                    <td>
                                        {{ form.outcome }}
                                    </td>
                                    <td>
                                        {{ form.new_outcome }}
                                    </td>
                                    <td>
                                        <input type="submit" name="edit_outcome" value="Save" onclick="return confirm('Are you sure you want to edit all results with the selected outcome?')" />
                                    </td>
                                    <td>
                                        <input type="submit" name="delete_outcome" value="Delete" onclick="return confirm('Are you sure you want to delete all results with the selected outcome?')" />
                                    </td>
                                </tr>
                            </table>
                        </form>
{% endblock %}
