{% extends "base.html" %}
{% load django_tables2 %}

{% block body %}
    <section class="content-header">
        <h1>Events</h1>
        <ol class="breadcrumb">
            <li><a href="/">Campaigns</a></li>
            {% if campaign %}
                <li><a href="info">Campaign {{ campaign.id }}</a></li>
            {% endif %}
            <li class="active"><a href="">Events</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Events</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        {% render_table event_table %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block sidebar_block %}
    <li class="header">OPTIONS</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-plus"></i>
            <span>Open Tabs</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="javascript:{}" onclick="open_results(true)">
                    <i class="fa fa-circle-o"></i>
                    <span>Open Selected</span>
                </a>
            </li>
            <li>
                <a href="javascript:{}" onclick="open_results(false)">
                    <i class="fa fa-circle-o"></i>
                    <span>Open All (Displayed)</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block script %}
    <script>
        {% if campaign %}
            $('#events-campaign-link').addClass('active')
        {% else %}
            $('#events-navigation-link').addClass('active')
        {% endif %}

        function update_selection(select) {
            var checkboxes = document.getElementsByName('select_box');
            for(var i=0, n=checkboxes.length; i<n; i++) {
                checkboxes[i].checked = select.checked;
            }
        }

        function open_results(only_selected) {
            var checkboxes = document.getElementsByName('select_box');
            for(var i=0, n=checkboxes.length; i<n; i++) {
                if (checkboxes[i].checked || !only_selected) {
                    window.open('./result/'+checkboxes[i].value, '_blank');
                }
            }
        }
    </script>
{% endblock %}
