{% extends "base.html" %}
{% block body %}
                        <div class="source">
                            <div class="section">
                                <h2 align="center">
                                    <a name="campaign_data">
                                    </a>
                                    Campaign Data
                                </h2>
                                <div align="center">
                                    {% load django_tables2 %}
                                    {% render_table table %}
                                </div>
                                {% if campaign_data.use_simics %}
                                <div align="center">
                                    <h2>
                                        <a name="device_targets">
                                        </a>
                                        Injection Targets
                                    </h2>
                                    <div id="device_bit_chart">
                                    </div>
                                </div>
                                {% endif %}
                                {% if output_image %}
                                <div align="center">
                                    <h2>
                                        <a name="output_image">
                                        </a>
                                        Output Image
                                    </h2>
                                    <img src="/output-images/{{ campaign_data.campaign_number }}/0" alt="Gold Output">
                                </div>
                                {% endif %}
                                <h2 align="center">
                                    <a name="dut_output">
                                    </a>
                                    DUT Output
                                </h2>
                                {{ campaign_data.dut_output|linebreaksbr }}
                                {% if campaign_data.use_aux %}
                                <h2 align="center">
                                    <a name="aux_output">
                                    </a>
                                    AUX Output
                                </h2>
                                {{ campaign_data.aux_output|linebreaksbr }}
                                {% endif %}
                                <h2 align="center">
                                    <a name="debugger_output">
                                    </a>
                                    Debugger Output
                                </h2>
                                {{ campaign_data.debugger_output|linebreaksbr }}
                            </div>
                        </div>
{% endblock %}
