{% extends "base.html" %}
{% block body %}
                        <div class="source" align="center">
                            <a name="outcomes">
                            </a>
                            <div class="section">
                                <br>
                                <div id="outcome_chart">
                                </div>
                                <br>
                                <a name="targets">
                                </a>
                                <div id="target_chart">
                                </div>
                                <br>
                                {% if campaign_data.use_simics %}
                                <div id="diff_target_chart">
                                </div>
                                <br>
                                {% endif %}
                                <a name="data_diff_targets">
                                </a>
                                <div id="data_diff_target_chart">
                                </div>
                                <br>
                                <a name="registers">
                                </a>
                                <div id="register_chart">
                                </div>
                                <br>
                                <a name="bits">
                                </a>
                                <div id="bit_chart">
                                </div>
                                <br>
                                <a name="tlbs">
                                </a>
                                <div id="tlb_chart">
                                </div>
                                <br>
                                <a name="fields">
                                </a>
                                <div id="field_chart">
                                </div>
                                <br>
                                <a name="times">
                                </a>
                                <div id="time_chart">
                                </div>
                                <br>
                                {% if campaign_data.use_simics %}
                                <div id="time_chart_smoothed">
                                </div>
                                <br>
                                {% endif %}
                                <a name="diff_times">
                                </a>
                                <div id="diff_time_chart">
                                </div>
                                <br>
                                <a name="counts">
                                </a>
                                <div id="count_chart">
                                </div>
                            </div>
                        </div>
{% endblock %}
