{% extends "base.html" %}

{%block chart_loader_header %}
        <script type="text/javascript">
            {% autoescape off %}
            chart_array = {{ chart_array }}
            $(document).ready(function() {
                $.each(chart_array, function(index, chartoptions) {
                    chart = new Highcharts.Chart(chartoptions);
                });
            });
            {% endautoescape %}
        </script>
{% endblock %}

{% block body %}
                        <div class="source" align="center">
                            <div class="section">
                                <div id="outcome_chart">
                                </div>
                                <h6>
                                </h6>
                                <div id="register_chart">
                                </div>
                                <h6>
                                </h6>
                                <div id="bit_chart">
                                </div>
                                <h6>
                                </h6>
                                <div id="time_chart">
                                </div>
                            </div>
                        </div>
{% endblock %}
