{% extends "base.html" %}
{% load django_tables2 %}
{% block body %}
<div class="source">
    <h2 align="center">
        {{ title }}
    </h2>
    <div align="center">
        {% render_table result_table %}
    </div>
    <div class="section">
        <h3 align="center">
            Injections
        </h3>
        <div align="center">
            {% render_table injection_table %}
        </div>
        <h3 align="center">
            DUT Output
        </h3>
        {{ result.dut_output|linebreaksbr }}
        {% if campaign_data.use_aux %}
        <h3 align="center">
            AUX Output
        </h3>
        {{ result.aux_output|linebreaksbr }}
        {% endif %}
        <h3 align="center">
            Debugger Output
        </h3>
        {{ result.debugger_output|linebreaksbr }}
        <h3 align="center">
            Paramiko Log
        </h3>
        {{ campaign_data.paramiko_output|linebreaksbr }}
        {% if campaign_data.use_aux %}
        <h3 align="center">
            AUX Paramiko Log
        </h3>
        {{ campaign_data.aux_paramiko_output|linebreaksbr }}
        {% endif %}
    </div>
</div>
{% endblock %}
