{% extends "base.html" %}

{% block body %}
<div class="source">
    <h2>
        {{ title }}
    </h2>
    <div class="section">
        <h3 align="center">
            Injection Summary
        </h3>
        <table align="center">
            <tr>
                <th>
                    Injection Number
                </th>
                <td>
                    {{ result.injection.injection_number }}
                </td>
                <th>
                    Register
                </th>
                <td>
                    {{ result.injection.register }}
                </td>
            </tr>
            <tr>
                <th>
                    Outcome Category
                </th>
                <td>
                    {{ result.outcome_category }}
                </td>
                <th>
                    Outcome
                </th>
                <td>
                    {{ result.outcome }}
                </td>
            </tr>
            <tr>
                <th>
                    Data Diff
                </th>
                <td>
                    {{ result.data_diff }}
                </td>
                <th>
                    Detected Errors
                </th>
                <td>
                    {{ result.detected_errors }}
                </td>
            </tr>
            <tr>
                <th>
                    Gold Value
                </th>
                <td>
                    {{ result.injection.gold_value }}
                </td>
                <th>
                    Inected Value
                </th>
                <td>
                    {{ result.injection.injected_value }}
                </td>
            </tr>
            <tr>
                <th>
                    Bit
                </th>
                <td>
                    {{ result.injection.bit }}
                </td>
            </tr>
        </table>
        <h3 align="center">
            DUT Output
        </h3>
        {{ result.dut_output|linebreaksbr }}
        {% if campaign_data.use_aux %}
        <h3 align="center">
            AUX Output
        </h3>
        {{ result.aux_output|linebreaksbr }}
        {% endif %}
        <h3 align="center">
            Debugger Output
        </h3>
        {{ result.debugger_output|linebreaksbr }}
    </div>
</div>
{% endblock %}
