{% extends "base.html" %}

{% block body %}
<div class="source">
    <h2 align="center">
        {{ title }}
    </h2>
    <div class="section">
        <h3 align="center">
            Iteration Summary
        </h3>
        <table align="center">
            <tr>
                <th>
                    Iteration Number
                </th>
                <td>
                    {{ result.iteration }}
                </td>
            </tr>
            <tr>
                <th>
                    Outcome Category
                </th>
                <td>
                    {{ result.outcome_category }}
                </td>
                <th>
                    Outcome
                </th>
                <td>
                    {{ result.outcome }}
                </td>
            </tr>
            <tr>
                <th>
                    Data Diff
                </th>
                <td>
                    {{ result.data_diff }}
                </td>
                <th>
                    Detected Errors
                </th>
                <td>
                    {{ result.detected_errors }}
                </td>
            </tr>
        </table>
        <h3 align="center">
            DUT Output
        </h3>
        {{ result.dut_output|linebreaksbr }}
        {% if campaign_data.use_aux %}
        <h3 align="center">
            AUX Output
        </h3>
        {{ result.aux_output|linebreaksbr }}
        {% endif %}
        {% if campaign_data.use_simics %}
        <h3 align="center">
            Simics Output
        </h3>
        {{ result.debugger_output|linebreaksbr }}
        {% endif %}
    </div>
</div>
{% endblock %}
