{% extends "base.html" %}

{% block body %}
<div class="source" align="center">
    <h2>
        {{ title }}
    </h2>
    <table>
        <tr>
            <td valign="top">
                <div class="section">
                    <h3 align="center">
                        Register Diffs
                    </h3>
                    <div align="center">
                        {% load django_tables2 %}
                        {% render_table register_table %}
                    </div>
                </div>
                <div class="section">
                    <h3 align="center">
                        Memory Diffs
                    </h3>
                    <div align="center">
                        {% render_table memory_table %}
                    </div>
                </div>
            </td>
            <td valign="top">
                <div class="section">
                    <h3 align="center">
                        Injection Summary
                    </h3>
                    <table>
                        <tr>
                            <th>
                                Injection Number
                            </th>
                            <td>
                                {{ result.injection.injection_number }}
                            </td>
                            <th>
                                Register
                            </th>
                            <td>
                                {{ result.injection.register }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Outcome Category
                            </th>
                            <td>
                                {{ result.outcome_category }}
                            </td>
                            <th>
                                Register Index
                            </th>
                            <td>
                                {{ result.injection.register_index }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Outcome
                            </th>
                            <td>
                                {{ result.outcome }}
                            </td>
                            <th>
                                Bit
                            </th>
                            <td>
                                {{ result.injection.bit }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Data Diff
                            </th>
                            <td>
                                {{ result.data_diff }}
                            </td>
                            <th>
                                Checkpoint Number
                            </th>
                            <td>
                                {{ result.injection.checkpoint_number }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Gold Value
                            </th>
                            <td>
                                {{ result.injection.gold_value }}
                            </td>
                            <th>
                                Inected Value
                            </th>
                            <td>
                                {{ result.injection.injected_value }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Detected Errors
                            </th>
                            <td>
                                {{ result.detected_errors }}
                            </td>
                            <th>
                                Target
                            </th>
                            <td>
                                {{ result.injection.target }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Target Index
                            </th>
                            <td>
                                {{ result.injection.target_index }}
                            </td>
                            <th>
                                Config Object
                            </th>
                            <td>
                                {{ result.injection.config_object }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Field
                            </th>
                            <td>
                                {{ result.injection.field }}
                            </td>
                        </tr>
                    </table>
                    <h3 align="center">
                        DUT Output
                    </h3>
                    {{ result.dut_output|linebreaksbr }}
                    {% if campaign_data.use_aux %}
                    <h3 align="center">
                        AUX Output
                    </h3>
                    {{ result.aux_output|linebreaksbr }}
                    {% endif %}
                    <h3 align="center">
                        Simics Output
                    </h3>
                    {{ result.debugger_output|linebreaksbr }}
                    <h3 align="center">
                    Paramiko Log
                    </h3>
                    {{ result.paramiko_output|linebreaksbr }}
                    {% if campaign_data.use_aux %}
                    <h3 align="center">
                        AUX Paramiko Log
                    </h3>
                    {{ result.aux_paramiko_output|linebreaksbr }}
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
