{% extends "base.html" %}
{% load django_tables2 %}
{% block body %}
<div class="source" align="center">
    <h2>
        {{ title }}
    </h2>
    {% render_table result_table %}
    <h3>
        Injections
    </h3>
    <div align="center">
        {% render_table injection_table %}
    </div>
    <table>
        <tr>
            <td valign="top">
                <div class="section">
                    <h3 align="center">
                        DUT Output
                    </h3>
                    {{ result.dut_output|linebreaksbr }}
                    {% if campaign_data.use_aux %}
                    <h3 align="center">
                        AUX Output
                    </h3>
                    {{ result.aux_output|linebreaksbr }}
                    {% endif %}
                    <h3 align="center">
                        Simics Output
                    </h3>
                    {{ result.debugger_output|linebreaksbr }}
                    <h3 align="center">
                    Paramiko Log
                    </h3>
                    {{ result.paramiko_output|linebreaksbr }}
                    {% if campaign_data.use_aux %}
                    <h3 align="center">
                        AUX Paramiko Log
                    </h3>
                    {{ result.aux_paramiko_output|linebreaksbr }}
                    {% endif %}
                </div>
            </td>
            <td valign="top">
                <div class="section">
                    <h3 align="center">
                        Register Diffs
                    </h3>
                    <div align="center">
                        {% render_table register_table %}
                    </div>
                </div>
                <div class="section">
                    <h3 align="center">
                        Memory Diffs
                    </h3>
                    <div align="center">
                        {% render_table memory_table %}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
