<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>DrSEUs</title>

        {% load static %}
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/AdminLTE.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/AdminLTE-skin-blue.min.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/font-awesome.min.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/drseus.css">
    </head>

    <body class="skin-blue sidebar-mini sidebar-collapse">
        <form id="get_form" action="" method="get">
            <div class="wrapper">

                <header class="main-header">
                    <a href="/" class="logo">
                        <span class="logo-mini">DrS</span>
                        <span class="logo-lg">DrSEUs</span>
                    </a>
                    <nav class="navbar navbar-static-top" role="navigation">
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                {% if filter %}
                                    <li><a href="#" data-toggle="control-sidebar"><i class="fa fa-filter"></i> Filter</a></li>
                                    <li><a href="javascript:{}" onclick="document.getElementById('get_form').submit(); return false;"><i class="fa fa-check"></i> Apply</a></li>
                                    <li><a href="javascript:{}" onclick="clear_filter()"><i class="fa fa-close"></i> Clear</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </header>

                <aside class="main-sidebar">
                    <section class="sidebar">
                        <ul class="sidebar-menu">
                            {% for name, link, id, icon in navigation_items %}
                                <li id="{{ id }}-navigation-link">
                                    <a href="{{ link }}">
                                        <i class="fa fa-{{ icon }}"></i>
                                        <span>{{ name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% if campaign_items %}
                                <li class="header">CAMPAIGN</li>
                                {% for name, link, id, icon in campaign_items %}
                                    <li id="{{ id }}-campaign-link">
                                        <a href="{{ link }}">
                                            <i class="fa fa-{{ icon }}"></i>
                                            <span>{{ name }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% block sidebar_block %}{% endblock %}
                        </ul>
                    </section>
                </aside>

                <div class="content-wrapper">
                    {% block body %}{% endblock %}
                    <div class="modal fade" id="error-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{ error_title }}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>{{ error_message }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="main-footer">
                    DrSEUs was created by Ed Carlisle IV
                </footer>

                {% if filter %}
                    <aside class="control-sidebar control-sidebar-dark">
                        {% if filter_tabs %}
                            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                                <li class="active"><a href="#control-sidebar-result-tab" data-toggle="tab">
                                    <i class="fa fa-list"></i>
                                    <span>Result</span>
                                </a></li>
                                <li><a href="#control-sidebar-event-tab" data-toggle="tab">
                                    <i class="fa fa-flag"></i>
                                    <span>Event</span>
                                </a></li>
                                <li><a href="#control-sidebar-injection-tab" data-toggle="tab">
                                    <i class="fa fa-crosshairs"></i>
                                    <span>Injection</span>
                                </a></li>
                            </ul>
                        {% endif %}
                        <div class="tab-content">
                            {% if filter_tabs %}
                                <div class="tab-pane active" id="control-sidebar-result-tab">
                                    {% for field in filter.form %}
                                        {% if "event" not in field.id_for_label and "injection" not in field.id_for_label %}
                                            <h3 class="control-sidebar-heading">{{ field.label_tag }}</h3>
                                            <ul class="control-sidebar-menu">
                                                <li><div class="filter-field">{{ field }}</div></li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="tab-pane" id="control-sidebar-event-tab">
                                    {% for field in filter.form %}
                                        {% if "event" in field.id_for_label %}
                                            <h3 class="control-sidebar-heading">{{ field.label_tag }}</h3>
                                            <ul class="control-sidebar-menu">
                                                <li><div class="filter-field">{{ field }}</div></li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="tab-pane" id="control-sidebar-injection-tab">
                                    {% for field in filter.form %}
                                        {% if "injection" in field.id_for_label %}
                                            <h3 class="control-sidebar-heading">{{ field.label_tag }}</h3>
                                            <ul class="control-sidebar-menu">
                                                <li><div class="filter-field">{{ field }}</div></li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="tab-pane active" id="control-sidebar-result-tab">
                                    {% for field in filter.form %}
                                        <h3 class="control-sidebar-heading">{{ field.label_tag }}</h3>
                                        <ul class="control-sidebar-menu">
                                            <li><div class="filter-field">{{ field }}</div></li>
                                        </ul>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </aside>
                    <div class="control-sidebar-bg"></div>
                {% endif %}
            </div>
        </form>

        <script>
            var consoles = document.getElementsByClassName("console");
            for(var i=0, n=consoles.length; i<n; i++) {
                consoles[i].scrollTop = consoles[i].scrollHeight;
            }
        </script>
        <script src="{% get_static_prefix %}js/jquery-2.2.0.min.js"></script>
        <script src="{% get_static_prefix %}js/jquery-ui.min.js"></script>
        <script>
            $.widget.bridge('uibutton', $.ui.button);

            $('.expand').on('click', function () {
                var box = $(this).parents('.box').parent();
                if (box.hasClass('col-lg-6')) {
                    box.removeClass('col-lg-6')
                    box.addClass('col-lg-12');
                } else if (box.hasClass('col-lg-12')) {
                    box.removeClass('col-lg-12');
                    box.addClass('col-lg-6');
                }
                if (box.hasClass('col-md-6')) {
                    box.removeClass('col-md-6')
                    box.addClass('col-md-12');
                } else if (box.hasClass('col-md-12')) {
                    box.removeClass('col-md-12');
                    box.addClass('col-md-6');
                }
                return false;
            });

            function clear_filter() {
                window.location.assign(window.location.href.replace(/\?.*/g, ''));
            }
        </script>
        {% block script %}{% endblock %}
        <script src="{% get_static_prefix %}js/jquery.slimscroll.min.js"></script>
        <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
        <script src="{% get_static_prefix %}js/AdminLTE.min.js"></script>
        <script>
            // $(".content-wrapper, .right-side").css('min-height', window-height - $('.main-footer').outerHeight());

            function filter_scroll() {
                {% if filter %}
                    $(".control-sidebar .tab-content").slimScroll({destroy: true}).height("auto");
                    $(".control-sidebar .tab-content").slimscroll({
                        height: ($(window).height() - $(".main-header").height() - $(".control-sidebar-tabs").height()) - 15 + "px",
                        color: '#C0C0C0',
                        alwaysVisible: true
                    });
                {% endif %}
            }
            $(document).ready(filter_scroll);
            $(window).resize(filter_scroll);

            function sidebar_scroll() {
                if ($("body").hasClass("sidebar-collapse")) {
                    $(".sidebar-menu").slimScroll({destroy: true}).height("auto");
                    $(".sidebar-menu").attr('style', '')
                } else {
                    $(".sidebar-menu").slimScroll({destroy: true}).height("auto");
                    $(".sidebar-menu").slimscroll({
                        height: ($(window).height() - $(".main-header").height()) + "px",
                        color: '#C0C0C0',
                        alwaysVisible: true
                    });
                }
            }
            $('.sidebar-toggle').on('click', function() {
                setTimeout(sidebar_scroll, 250);
            });

            {% if error_title and error_message %}
                $('#error-modal').modal('show')
            {% endif %}
        </script>
        <script src="{% get_static_prefix %}js/highcharts/highcharts.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/exporting.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/offline-exporting.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/export-csv.js" type="text/javascript"></script>
        {% if chart_data %}
            <script>
                {% autoescape off %}
                    chart_data = {{ chart_data }}
                {% endautoescape %}

                $(document).ready(function() {
                    $.each(chart_data, function(index, chartoptions) {
                        chart = new Highcharts.Chart(chartoptions);
                    });
                    $(window).trigger('resize');
                    $('.chart-loading-icon').each(function() {
                        this.parentNode.removeChild(this);
                    });
                });

                $('.sidebar-toggle').on('click', function() {
                    setTimeout(function () {
                        $('.chart-container').each(function() {
                            $(this).highcharts().reflow();
                        });
                    }, 250);
                });

                $('.expand').on('click', function () {
                    $(this).parents('.box').children('.box-body').children('.chart-container').each(function() {
                        $(this).highcharts().reflow();
                    });
                    return false;
                });
            </script>
        {% endif %}
    </body>
</html>
