.console {
    background-color: initial;
    color: initial;
    display: block;
    height: 500px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
td .console {
    height: initial;
    max-height: 500px;
    max-width: 120ex;
}
.filter-field {
    margin: 0 auto;
    width: 90%;
}
.table-container {
    overflow: auto;
}
.output-image {
    text-align: center;
}
.output-image img {
    max-width:100%;
    max-height:100%;
}
.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}
.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}
